<div class="container my-5">
	<div class="row px-5 pb-0 py-lg-4 rounded-3 border shadow-lg">
		<p class="mt-2 text-end fst-italic text-secondary-emphasis">Creado el: <%= noticia.create_at %></p>
		<h3 class="text-center my-5"><%= noticia.titulo %></h3>
			<img
				class="mx-auto imagen-noticia mb-5"
				src="<%= noticia.imageURL %>"
				alt=""
			/>
		<p class="lead"><%- noticia.contenido %></p>
	</div>
</div>
