<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient">
	<div class="container">
		<a class="navbar-brand" href="/noticias">BLOG</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarsExample07"
			aria-controls="navbarsExample07"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample07">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/noticias"
						><i class="bi bi-house-fill"></i> Home</a
					>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Noticias
					</a>
					<ul class="dropdown-menu">
						<li>
							<a
								class="dropdown-item d-flex gap-2 align-items-center"
								href="/noticias/listado"
								><i
									class="d-inline-block text-primary p-1 bi bi-database-fill"
								></i
								>Listado</a
							>
						</li>
						<li>
							<a
								class="dropdown-item d-flex gap-2 align-items-center"
								href="/noticias/crear"
								><i
									class="d-inline-block text-primary p-1 bi bi-database-fill-add"
								></i
								>Crear</a
							>
						</li>
					</ul>
				</li>
				<!-- Usuarios -->
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Usuarios
					</a>
					<ul class="dropdown-menu">
						<li>
							<a
								class="dropdown-item d-flex gap-2 align-items-center"
								href="/usuarios/listado"
								><i
									class="d-inline-block text-primary p-1 bi bi-people-fill"
								></i
								>Listado</a
							>
						</li>
						<li>
							<a
								class="dropdown-item d-flex gap-2 align-items-center"
								href="/usuarios/crear"
								><i
									class="d-inline-block text-primary p-1 bi bi-person-plus-fill"
								></i
								>Crear</a
							>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="">


			<a
				role="button"
				class="text-decoration-none text-light nav-link"
				href="/auth/login"
				>Login<i class="bi bi-box-arrow-in-right"></i
			></a>

		</div>
	</div>
</nav>
