<div>
	<div class="container my-5">
		<div
			class="row p-5 pb-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
		>
			<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-4">Noticias</h1>
			<div class=" justify-content-md-start mb-4 mb-lg-2">
				<hr class="hr" />
				<div>
					<% noticia.forEach(function(n){ %>
					<div>
						<h3><%= n.titulo %></h3>
						<p><%= n.contenido %></p>
					</div>
					<hr class="hr" />
					<% }); %>
				</>
			</div>
		</div>
	</div>
</div>
