<div>
	<div class="container my-5">
		<div
			class="row p-5 pb-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
		>
			<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-4">Noticias</h1>
			
				<div class="justify-content-md-start mb-4 mb-lg-2">
					<hr class="hr" />
					<div style="cursor: pointer;">
						<% noticias.forEach(noticia =>{ %>
						<div>
							<p><%= noticia.create_at %></p>
							<h3><%= noticia.titulo %></h3>
							<p class="lead"><%= limitadorTexto(noticia.contenido, 300) %></p>
						</div>
						<div>
							<a class="btn btn-primary btn-rounded" href="noticias/get/<%= noticia.id %>">Ir a Noticia</a>
						</div>
						<hr class="hr" />
						<% }); %>
					</div>
				</div>
		</div>
	</div>
</div>
